<div>
    <img src="/assets/images/logo100.png"/>
    <h1 class="mat-display-1">Přihlášení</h1>
    <form>
        <mat-form-field>
            <input matInput type="text" name="email"  [(ngModel)]="model.email" placeholder="Email"/>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password"  name="password"  [(ngModel)]="model.password" placeholder="Heslo" />
        </mat-form-field>
        <button mat-raised-button [disabled]="loading" (click)="login()">Přihlásit</button>
        <mat-spinner *ngIf="loading"  [color]="accent" [mode]="indeterminate" ></mat-spinner>
    </form>
</div>