<div class="basic-padding">
  <form class="container" [formGroup]="orderForm">
    <!-- Start -->
    <mat-form-field>
      <input matInput i18n-placeholder placeholder="Start" i18n-value value="pozicia startu" disabled/>
    </mat-form-field>

    <!-- Finish -->
    <mat-form-field>
      <input matInput i18n-placeholder placeholder="Cíl" i18n-value value="pozicia cíle" disabled/>
    </mat-form-field>

    <!-- Number of persons -->
    <mat-form-field>
      <input matInput i18n-placeholder placeholder="Počet osob" formControlName="persons" type="number"/>
      <mat-error *ngIf="orderForm.get('persons').hasError('required')" i18n>Tato položka je povinná.</mat-error>

    </mat-form-field>

    <!-- Phone number -->
    <mat-form-field>
      <input matInput i18n-placeholder placeholder="Telefónní číslo" formControlName="phone"/>
    </mat-form-field>

    <!-- Note for driver -->
    <mat-form-field>
        <textarea matInput i18n-placeholder placeholder="Poznámka pro řidiče" formControlName="note"></textarea>
    </mat-form-field>

    <!-- Scheduled order -->
    <section class="scheduled" [class.yellow]="scheduled.checked">
      <mat-slide-toggle color="primary" i18n #scheduled>
        Termínovaná
      </mat-slide-toggle>
      <div class="dateTime">
        <!-- Date -->
        <mat-form-field class="date">
            <input matInput [min]="today" [matDatepicker]="picker" i18n-placeholder placeholder="Datum" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <!-- Time -->
        <mat-form-field class="time">
            <input matInput formControlName="time" i18n-placeholder placeholder="Čas"
                  (click)="$event.target.select()"/>
            <mat-error *ngIf="orderForm.get('time').hasError('pattern')">Zadejte čas ve formátu HH:MM</mat-error>
        </mat-form-field>
      </div>
    </section>


    <button mat-raised-button color="primary" class="submitButton" (click)="send()" i18n>Odeslat</button>
  </form>
</div>
