  <form class="container" [formGroup]="orderForm">
    <!-- Start -->
    <mat-form-field *ngIf="!airport">
      <input matInput i18n-placeholder placeholder="Start" value="{{orderService.newOrder.startAddress}}" disabled/>
    </mat-form-field>

    <!-- Finish -->
    <mat-form-field *ngIf="!airport">
      <input matInput i18n-placeholder placeholder="Cíl" value="{{orderService.newOrder.finishAddress}}" disabled/>
    </mat-form-field>

    <div>
      <!-- Number of persons -->
      <mat-form-field class="half-width">
        <input matInput i18n-placeholder placeholder="Počet osob" formControlName="persons" type="number"/>
        <mat-error *ngIf="orderForm.get('persons').hasError('required')" i18n>Tato položka je povinná.</mat-error>
        <mat-error *ngIf="orderForm.get('persons').hasError('min')" i18n>Počet lidí musí být alespoň 1.</mat-error>

      </mat-form-field>

      <!-- VIP -->
        <mat-checkbox class="light-green" formControlName="VIP" i18n>VIP</mat-checkbox>
    </div>

    <!-- Phone number -->
    <mat-form-field class="half-width">
      <input matInput i18n-placeholder placeholder="Telefónní číslo" formControlName="phone"/>
      <mat-error *ngIf="orderForm.get('phone').hasError('required')" i18n>Tato položka je povinná.</mat-error>
      <mat-error *ngIf="orderForm.get('phone').hasError('pattern')" i18n>Tohle není validní telefónní číslo.</mat-error>
      <mat-error *ngIf="orderForm.get('phone').hasError('maxLength')" i18n>Číslo je příliš dlouhé.</mat-error>
    </mat-form-field>

    <!-- Flight number --> 
    <mat-form-field *ngIf="airport">
        <input matInput i18n-placeholder placeholder="Číslo letu" formControlName="flightNumber"/>
        <mat-error *ngIf="orderForm.get('persons').hasError('required')" i18n>Tato položka je povinná.</mat-error>
    </mat-form-field>


    <!-- Note for driver -->
    <mat-form-field>
        <textarea matInput i18n-placeholder placeholder="Poznámka pro řidiče" formControlName="note"></textarea>
    </mat-form-field>

    <!-- Scheduled order -->
    <section class="scheduled" *ngIf="signedIn">
      <mat-slide-toggle color="primary" formControlName="scheduled" [class.hidden]="airport" i18n #scheduled>
        Termínovaná
      </mat-slide-toggle>
      <div class="dateTime">
        <!-- Date -->
        <mat-form-field class="date" *ngIf="scheduled.checked || airport">
            <input matInput [matDatepickerFilter]="filterLaterThanToday" [matDatepicker]="picker" i18n-placeholder placeholder="Datum" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <!-- Time -->
        <mat-form-field class="time" *ngIf="scheduled.checked || airport">
            <input matInput formControlName="time" i18n-placeholder placeholder="Čas"
                  (click)="$event.target.select()"/>
            <mat-error *ngIf="orderForm.get('time').hasError('pattern')">Zadejte čas ve formátu HH:MM</mat-error>
        </mat-form-field>
      </div>
    </section>

    <!-- To or From Airport -->
    <div *ngIf="airport" class="centeredRow margin-bottom">
        <span i18n>Jdu z letiska</span>
        <mat-slide-toggle color="primary" (change)="directionChange($event.checked)" i18n>
            Jdu na letisko
        </mat-slide-toggle>
    </div>

    
    <button mat-raised-button color="primary" class="submitButton" (click)="send()" *ngIf="!airport" i18n>Odeslat</button>
    <button mat-raised-button color="primary" class="submitButton" (click)="chooseOtherEndpoint()" *ngIf="airport" i18n>Zvolit {{goingToAirport ? 'start' : 'cíl'}}</button>    
  </form>
