@import '~@angular/material/theming';
@import '../../../yellow-app-theme.scss';

@include yellow-app-theme($yellow-app-theme);

:host {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  agm-map{
      flex: 1 1 auto;
      height: 100%;
      width: 100%;
      display: block;
    }
 /*   .address, .marker, button{
      position: absolute;
      z-index: 10;
      pointer-events: none;
    }
    .address{
      width: 100%;
      background: rgba(44, 44, 44, 0.8);
      padding: 10px 0;

    }*/

    .marker {
      display:flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      mat-icon {
        font-size: 100px;
        width: 100px;
        height: 100px;
       // color: ;
        position:relative;
        top: -43px;
      }
    }

   /* .map-center{
      top: 50px;
      right: 15px;
      pointer-events: all;
      color: #444;
      background: white;
    }*/
  }


