@import '../../../variables.scss';

:host {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  flex-direction: column;

  .map-with-marker {
    flex-grow: 1;
    position: relative;

    .map {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      agm-map {
        flex: 1 1 auto;
        height: 100%;
        width: 100%;
        display: block;
      }
    }
  }

  .address-with-plane {
    display: flex;
    align-items: center;

    .address{
      width: 100%;
    }
    mat-icon:hover {
      color: $accent-yellow;
    }
  }

    .marker {
      display:flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      visibility: hidden;

      mat-icon {
        font-size: 50px;
        width: 50px;
        height: 50px;
        color: $yellow-app-background;
        position: relative;
        top: -18px;
        visibility: visible;
      }
    }

   /* .map-center{
      top: 50px;
      right: 15px;
      pointer-events: all;
      color: #444;
      background: white;
    }*/
  }

  mat-icon {
    cursor: pointer;
  }

  .selected {
    color: $accent-yellow;
  }

// Styling autocomplete elements.

::ng-deep {
  .pac-container  {
  background-color: $yellow-app-background;
  }

  .pac-item-query {
    color: $accent-yellow;
  }

  .pac-item:hover {
    background-color: black;
  }

}
