
.space-children {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  max-height: calc(100vh - 56px);
}

.margin-bottom {
  margin-bottom: 30px;
}

a {
  color: inherit;
}
