<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="space-children">
      <mat-icon (click)="logout()">lock</mat-icon>
      <mat-icon>restaurant</mat-icon>
      <mat-icon>time_to_leave</mat-icon>
      <a href="tel:0949476160"><mat-icon>phone</mat-icon></a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- When there are no orders. -->
<div class="center" *ngIf="(myOrders.orders | async)?.length===0">
  <div class="margin-bottom">Momentálne nemáte žádné objednávky.</div>
  <button mat-raised-button class="margin-bottom">Objednávka z ulice</button>
</div>

<!--When there is at least one order. -->
<div *ngIf="(myOrders.orders | async)?.length!==0">

</div>
