@import '../../../../_variables.scss';

.order-container {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    .row {
        display: flex;
        align-items: center;  
        justify-content: flex-start;
        padding: 3px 0px;

        mat-icon {
            margin-right: 5px;
        }
        .end {
            margin-left: auto;
        }
    }
}

.green {
    color: mat-color(map-get($yellow-app-theme, accent));
}