@import '../../../_variables.scss';

.container {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
}

.car-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-width: 1px;
  border-style: solid;
  border-color: $yellow-app-background;
  padding: 5px;
  justify-content: space-around;
}

.image-small {
  max-height: 100px;
}

.big-font {
  font-size: 35px;
}
