<div class="basic-padding">
  <form [formGroup]="form">
    <mat-form-field class="wide">
      <input matInput i18n-placeholder placeholder="Nové heslo" formControlName="password" type="password">
      <mat-error *ngIf="form.get('password').hasError('required')" i18n>Tato položka je povinná.</mat-error>
      <mat-error *ngIf="form.get('password').hasError('minlength')" i18n>Heslo musí míte alespoň 6 znaků.</mat-error>
    </mat-form-field>
    <mat-form-field class="wide">
      <input matInput i18n-placeholder placeholder="Ověření hesla" formControlName="passwordCofirmation" type="password">
      <mat-error *ngIf="form.get('passwordCofirmation').hasError('required')" i18n>Tato položka je povinná.</mat-error>
      <mat-error *ngIf="form.hasError('passwordMismatch')" i18n>Heslá se neshodují.</mat-error>
    </mat-form-field>
    <div class="row">
      <mat-form-field class="grow smaller">
        <input matInput i18n-placeholder placeholder="Ověřovací SMS kód" formControlName="code">
        <mat-error *ngIf="form.get('passwordCofirmation').hasError('required')" i18n>Tato položka je povinná.</mat-error>
      </mat-form-field>
      <button mat-raised-button (click)="resendCode()" class="left-margin grow" i18n>Zaslat znovu</button>
    </div>
    <button mat-raised-button color="primary" (click)="setNewPassword()" type="submit" i18n>Potvrdit nové heslo</button>
  </form>
</div>
