form {
  display: inline-block;
  text-align: center;

  .wide {
    width: 100%;
  }

  .row {
    display: inline-flex;
    width: calc(100vw - 40px);
    align-items: center;

    .left-margin {
      margin-left: 20px;
    }

    .grow {
      flex-grow: 1;
    }

    .smaller {
      min-width: 130px;
      width: 130px;
    }
  }
}
