
<div [formGroup]="passwordForm">
  <mat-form-field>
       <input matInput type="password" formControlName="password" [errorStateMatcher]="matcher" placeholder="Heslo"/>
         <mat-error *ngIf="passwordForm.get('password').hasError('required')">
         Tato položka je povinná.
       </mat-error>
      <mat-error *ngIf="passwordForm.get('password').hasError('minlength')">
         Heslo musí mít alespoň 6 znaků.
       </mat-error>
  </mat-form-field>
   <!-- This is also bug workaround - class needs to be one level higher than mat-form-field - also careful if the name of the class changes with new update -->
  <div [class.mat-form-field-invalid]="passwordForm.hasError('passwordMismatch') && !passwordForm.get('passwordConfirm').hasError('required')">
   <mat-form-field>
       <input matInput type="password" formControlName="passwordConfirm" [errorStateMatcher]="matcher"
              placeholder="Heslo znovu" />
       <!-- This was added because there is probably a bug in material library - error doesn't get diplayed on *ngIf=true -->
       <div *ngIf="passwordForm.hasError('passwordMismatch') && !passwordForm.get('passwordConfirm').hasError('required')" class="mat-input-subscript-wrapper mat-form-field-subscript-wrapper">
        <div class="ng-tns-c2-0 ng-trigger ng-trigger-transitionMessages" >
         <mat-error class="faulty-error">
           Heslá se neshodují.
         </mat-error>
        </div>
       </div>
       <mat-error *ngIf="passwordForm.get('passwordConfirm').hasError('required')">
         Tato položka je povinná.
       </mat-error>
     </mat-form-field>
  </div>
</div>
