@import '../../../_variables.scss';

.red {
  color: mat-color(map-get($yellow-app-theme, warn));
}

.action {
  cursor: pointer;
}

mat-icon {
  padding-top: 5px;
  margin-right: 5px;
}

.empty-label {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.status-icon {
  display: flex;
  align-items: center;
}
