<h1>Historie objednávek</h1>

<form [formGroup]="intervalForm">
  <!-- From -->
  <mat-form-field>
    <input matInput [matDatepickerFilter]="filterTodayOrEarlier" formControlName="fromDate" [matDatepicker]="fromPicker" placeholder="Období od">
    <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
    <mat-datepicker #fromPicker></mat-datepicker>
  </mat-form-field>

  <!-- To -->
  <mat-form-field class="leftMargin">
    <input matInput [matDatepickerFilter]="filterTodayOrEarlier" formControlName="toDate" [matDatepicker]="toPicker" placeholder="Období do">
    <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
    <mat-datepicker #toPicker></mat-datepicker>
  </mat-form-field>
</form>

<!-- Filter
<div>
  <mat-form-field>
     <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div> -->

<div class="table mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <!-- Driver Column -->
    <ng-container matColumnDef="driver">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Řidič </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.driver.name}} </mat-cell>
    </ng-container>

    <!-- Car Column -->
    <ng-container matColumnDef="car">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Auto </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.vehicle}} </mat-cell>
    </ng-container>

    <!-- Start Column -->
    <ng-container matColumnDef="start">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Start </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.loc_start}} </mat-cell>
    </ng-container>

    <!-- Finish Column -->
    <ng-container matColumnDef="finish">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cíl </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.loc_finish}} </mat-cell>
    </ng-container>

    <!-- Order created Column -->
    <ng-container matColumnDef="orderCreatedTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Vytvoření objednávky </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.loc_finish}} </mat-cell>
    </ng-container>

    <!-- Pick up time Column -->
    <ng-container matColumnDef="pickUpTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Čas naložení </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.loc_finish}} </mat-cell>
    </ng-container>

    <!-- Drop off time Column -->
    <ng-container matColumnDef="dropOffTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Čas vyložení </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.loc_finish}} </mat-cell>
    </ng-container>

    <!-- Customer Column -->
    <ng-container matColumnDef="customer">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Zákazník </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.loc_finish}} </mat-cell>
    </ng-container>

    <!-- How order was created Column -->
    <ng-container matColumnDef="orderCreatedType">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Typ objednávky </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.loc_finish}} </mat-cell>
    </ng-container>

    <!-- Note Column -->
    <ng-container matColumnDef="note">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Poznámka </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.loc_finish}} </mat-cell>
    </ng-container>





    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[10, 25, 100, 200]"></mat-paginator>
</div>
