<!-- Toolbar -->
<mat-toolbar>
  <span class="toolbar_span">
      Taxi Ali
  </span>
  <span class="spacer"></span>

  <!-- Notifications -->
  <button mat-icon-button [matMenuTriggerFor]="notifications">
  <mat-icon  [matBadgeHidden]="getNotificationCount() === 0" class="toolbar_span"
              matBadge="{{getNotificationCount()}}" matBadgeColor="warn">notifications</mat-icon>
  </button>
  <mat-menu #notifications="matMenu">
    <button mat-menu-item *ngIf="getNotificationCount() === 0">Nemáte žádné notifikace.</button>

    <!-- One notification -->
    <div mat-menu-item class="notification" *ngFor="let notification of getNotifications()">
        <p>{{notification.notification.subject}}</p>
        <button mat-icon-button (click)="resolveNotification(notification.notification.id)">
          <mat-icon>check</mat-icon>
        </button>
    </div>

  </mat-menu>
 </mat-toolbar>


<!-- Main menu -->
<mat-drawer-container [ngClass]="{ 'expanded': isExpanded }">
  <mat-drawer mode="side" opened="true">

    <mat-nav-list>
      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon mat-list-icon>menu</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="['orders/new']">
       <mat-icon mat-list-icon>add</mat-icon>
         <p matLine *ngIf="isExpanded">Nová objednávka</p>
      </mat-list-item>
      <mat-list-item [routerLink]="['orders/ongoing']">
        <mat-icon mat-list-icon>cached</mat-icon>
          <p matLine *ngIf="isExpanded">Aktuální objednávky</p>
       </mat-list-item>
       <mat-list-item [routerLink]="['orders/scheduled']">
        <mat-icon mat-list-icon>hourglass_empty</mat-icon>
          <p matLine *ngIf="isExpanded">Termínované objednávky</p>
       </mat-list-item>
       <mat-list-item [routerLink]="['orders/history']">
        <mat-icon mat-list-icon>info</mat-icon>
          <p matLine *ngIf="isExpanded">Historie objednávek</p>
       </mat-list-item>
       <mat-divider ></mat-divider>
       <mat-list-item *ngIf="isAdmin" [routerLink]="['cars']">
        <mat-icon mat-list-icon>directions_car</mat-icon>
          <p matLine *ngIf="isExpanded">Autá</p>
       </mat-list-item>
       <mat-list-item *ngIf="isAdmin" [routerLink]="['employees']">
        <mat-icon mat-list-icon>people</mat-icon>
          <p matLine *ngIf="isExpanded">Vodiči a dispečeři</p>
       </mat-list-item>
       <mat-list-item [routerLink]="['profile']">
        <mat-icon mat-list-icon>person</mat-icon>
          <p matLine *ngIf="isExpanded">Můj profil</p>
       </mat-list-item>
       <mat-list-item (click)="logout()">
        <mat-icon mat-list-icon>lock</mat-icon>
          <p matLine *ngIf="isExpanded">Odhlásit se</p>
       </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <!-- Dispatcher's phone orders -->

  <mat-sidenav-container >
    <mat-sidenav mode="side" position="end" class="phone-orders" opened>
      <app-dispatchers-phone-orders></app-dispatchers-phone-orders>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="drawer-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</mat-drawer-container>
