
.example-container {
  width: 100%;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  justify-content: center;
}

.toolbar_span {
  margin: 0 auto;
}

