<div class="container basic-padding">
  <mat-card *ngFor="let arrival of arrivalService.arrivals" (click)="change(arrival.driver.id)">
      <div class="cardContent">   
          <div class="column">
              <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" i18n-alt alt="Fotka řidiče">
              <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" i18n-alt alt="Fotka auta">                
          </div> 
          <div class="column">
              <p>{{arrival.driver.name}}</p>
              <p>{{arrival.car.name}}</p>
              <p i18n>Přijde za {{arrivalService.getMinutes(arrival)}} minut.</p>              
          </div>                               
      </div>       
  </mat-card>

</div>