<div class="container">
  <h1 class="title">
      Zaměstnanci
  </h1>

  <!-- List of employees -->
  <div class="mat-elevation-z8" formGrouName="employeesForm">
      <mat-table #table [dataSource]="dataSource" matSort>

      <!-- Image Column -->
      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Obrázek </mat-header-cell>
        <mat-cell *matCellDef="let employee"> <img src="{{employee.image}}" alt="{{employee.name}}"/> </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Jméno </mat-header-cell>
        <mat-cell *matCellDef="let employee"> {{employee.name}} </mat-cell>
      </ng-container>

      <!-- Role Column -->
      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Úloha </mat-header-cell>
        <mat-cell *matCellDef="let employee"> {{employee.employee_roles.join(", ")}} </mat-cell>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Akce</mat-header-cell>
          <mat-cell *matCellDef="let employee" >
            <mat-icon class="red" (click)="deleteEmployee(employee)" matTooltip="Odstranit">delete</mat-icon>
            <mat-icon (click)="editEmployee(employee)" matTooltip="Editovat">edit</mat-icon>
          </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div *ngIf='dataSource.data.length === 0' class="empty-label">Nenanšli se žádní zaměstnanci.</div>
  </div>

<app-add-new-employee></app-add-new-employee>
</div>
