mat-expansion-panel {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

mat-form-field {
  display: block;
}

mat-checkbox {
  display: block;
  margin-bottom: 20px;
}

#imageUpload {
  display:none;
}

#choose_picture_button {
  margin: 20px;
}

#addButton {
  margin-top: 20px;
}

.imageUploadDiv {
  border-style: dashed;
  display: flex;
  align-items: center;
  justify-content: center;

}

// Hide spinner in number type input.
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
