@import '~@angular/material/theming';
/* mat theme setup */

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();



// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$yellow-app-primary: mat-palette($mat-yellow);
$yellow-app-accent:  mat-palette($mat-deep-orange, A200, A100, A400);

// The warn palette is optional (defaults to red).
$yellow-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$yellow-app-theme: mat-dark-theme($yellow-app-primary, $yellow-app-accent, $yellow-app-warn);




$accent-yellow: mat-color(map-get($yellow-app-theme, primary));
