@import '../../../_variables.scss';

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

mat-button-toggle-group {
  align-self: flex-start;
}

app-list-all-drivers {
  margin: 10px 0px;
}

.maps {
    app-map {
    height: 500px;
  }
}

.align-right {
  float: right;
}

.twoColumns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .column {
    width: 49%;
    flex-grow: 0;
    margin-top: 10px;
    @media (max-width: 600px) {
      width: 100%;
   }
  }

  .formControls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .controlsInColumn {
      width: 49%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.confirm {
  float: right;
}

.invisible {
  display:none;
}

.margin-right {
  margin-right: 10px;
}

// Hide spinner in number type input.
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

