<div class="container">
  <h1 class="title">
      Auta
  </h1>

  <!-- List of cars -->
  <div class="mat-elevation-z8" formGrouName="carForm">
      <mat-table #table [dataSource]="dataSource" matSort>

      <!-- Image Column -->
      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Obrázek </mat-header-cell>
        <mat-cell *matCellDef="let car"> <img src="{{car.image}}" alt="{{car.name}}"/> </mat-cell>
      </ng-container>

      <!-- Number Column -->
      <ng-container matColumnDef="number">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Číslo </mat-header-cell>
        <mat-cell *matCellDef="let car">   {{car.number}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Jméno </mat-header-cell>
        <mat-cell *matCellDef="let car"> {{car.name}} </mat-cell>
      </ng-container>

      <!-- Plate Column -->
      <ng-container matColumnDef="plate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> SPZ </mat-header-cell>
        <mat-cell *matCellDef="let car"> {{car.plate}} </mat-cell>
      </ng-container>

      <!-- MaxPersons Column -->
      <ng-container matColumnDef="max_persons">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Max. osob </mat-header-cell>
        <mat-cell *matCellDef="let car"> {{car.max_persons}} </mat-cell>
      </ng-container>

      <!-- Available Column -->
      <ng-container matColumnDef="available">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Dostupné na jízdu</mat-header-cell>
        <mat-cell *matCellDef="let car">
          <mat-checkbox [checked]="car.available" (change)="changeAvailable(car,$event)"></mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Akce</mat-header-cell>
          <mat-cell *matCellDef="let car" >
            <mat-icon class="red" (click)="deleteCar(car)" matTooltip="Odstranit">delete</mat-icon>
            <mat-icon (click)="editCar(car)" matTooltip="Editovat">edit</mat-icon>
          </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div *ngIf="this.dataSource.data.length === 0" class="empty-label">Nenašla se žádná auta.</div>
  </div>

  <app-add-new-car></app-add-new-car>
</div>
