.container {
  min-height: calc(100vh - 20px);
  display: flex;

  .grow {
    flex-grow: 1;  
    display: flex;
    flex-direction: column;

    mat-card {
      margin: 10px 0px;
    }
  
    .app-static-marker-map {
      flex-grow: 1;
    }

    button {
      margin-top: 20px;

      .right {
        position: absolute;
        right: 10px;
        padding: 6px 0px;
      }
    }
  }

  .cardContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .column {
      display: flex;
      flex-direction: column;
      padding-right: 10px;
      justify-content: space-between;
  
        p {
          display: flex;
          flex-grow: 1;
          align-items: center;
        }
      img {
        height: 50px;
      }
    }
  }

  app-fill-in-params {
    display: flex;
    flex-grow: 1;
  }
}
