<h1>Termínované objednávky</h1>

<!-- Filter -->
<div>
  <mat-form-field>
     <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="table mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <!-- Driver Column -->
    <ng-container matColumnDef="driver">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Řidič </mat-header-cell>
      <mat-cell *matCellDef="let order" (click)="editingDriver=!editingDriver" class="action">
        <app-list-all-drivers [firstSelected]="order.driver" (selectedDriver)="changeDriver(order, $event, this)" class="edit-driver"></app-list-all-drivers>
      </mat-cell>
    </ng-container>

    <!-- Car Column -->
    <ng-container matColumnDef="car">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Auto </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.vehicle.name}} </mat-cell>
    </ng-container>

    <!-- Start Column -->
    <ng-container matColumnDef="start">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Start </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.loc_start}} </mat-cell>
    </ng-container>

    <!-- Finish Column -->
    <ng-container matColumnDef="finish">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cíl </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.loc_finish}} </mat-cell>
    </ng-container>

    <!-- Pick up date Column -->
    <ng-container matColumnDef="pickUpDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Datum naložení </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.scheduled_pick_up_at | date: 'dd.MM.yyyy'}} </mat-cell>
    </ng-container>

    <!-- Pick up time Column -->
    <ng-container matColumnDef="pickUpTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Čas naložení </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.scheduled_pick_up_at | date: 'HH:mm'}} </mat-cell>
    </ng-container>

    <!-- Note Column -->
    <ng-container matColumnDef="note">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Poznámka </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.note}} </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Akce </mat-header-cell>
      <mat-cell *matCellDef="let order">
        <mat-icon class="red action" matTooltip="Zrušit" (click)="cancelOrder(order)">close</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <div *ngIf="this.dataSource.data.length === 0" class="empty-label">Nenašly se žádné objednávky.</div>
  <mat-paginator [pageSizeOptions]="[10, 25, 100, 200]"
                 (page)="onPageChange($event)" [length]="totalOrdersCount.value"></mat-paginator>
</div>
