@import '../../../../_variables.scss';

.red {
  color: mat-color(map-get($yellow-app-theme, warn));
}

.action {
  cursor: pointer;
}

.table {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.empty-label {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.edit-driver {
  margin-right: 10px;
  display: flex;
  flex-shrink: inherit;
}
