<div class="container">
  <p *ngIf="driverOnHisWay()" i18n>Váš řidič je na cestě.</p>
  <div class="map">
    <app-static-marker-map [trackDriverID]="getDriverID()"></app-static-marker-map>
  </div>
  <div class="details">
    <div *ngIf="driverOnHisWay() || driverArrived()">
        <p i18n>Předpokladaný čas příchodu</p>
        <p i18n>{{getDriverArrivalTime() | date: 'HH:mm'}}</p>
    </div>
    <div *ngIf="customerPickedUp()">
      <p i18n>Předpokladaný příjezd do cíle</p>
      <p i18n>{{getEstFinishTime() | date: 'HH:mm'}}</p>
  </div>
    <div *ngIf="driverOnHisWay() || driverArrived()">
        <p i18n>SPZ</p>
        <p i18n>{{getLicencePlate()}}</p>
    </div>
  </div>
  <button mat-raised-button *ngIf="driverOnHisWay()" color="warn" (click)="cancelOrder()" i18n>Zrušit objednávku</button>
  <p class="message" *ngIf="driverArrived()" i18n>Váš řidič je na místě.</p>

</div>
