@import '../../../_variables.scss';

.container {
  margin: 10px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 20px);

  .order-type {
    display: flex;
    flex-direction: row;

    .left-margin {
      margin-left: 20px;
    }
  }

  app-static-marker-map {
    width: calc(100vw - 20px);
    flex-grow: 1;
    margin: 20px 0px;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: calc(100vw - 20px);

    mat-icon {
     font-size: 100px;
     width: 100px;
     height: 100px;
    }

    .red {
      color: mat-color(map-get($yellow-app-theme, warn));
    }
    .green {
      color: mat-color(map-get($yellow-app-theme, accent));
    }
  }


}
