:host {
    display: flex;
    margin-top: 20px;
}

.container {

    mat-card:not(:last-child) {
        margin-bottom: 5px;
    }

    img {
        width: 100px;
        margin-right: 20px;
    }
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}